html,
body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111111;
  background:#F5F5F5;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-default {
  border-color: #f8f8f8;
  color: #2c3e50;
  background-color: #f8f8f8;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  margin: 10px;
}

.btn {
  border: 0;
  border-radius: 300px;
  font-family: 'lato','Helvetica Neue',Arial,sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.btn-xl {
  padding: 15px 40px;
}

.letterpress {
  color: #ffffff;
  text-shadow: 0px 2px 10px #000000;
}

/*header*/
header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #f8f8f8;
  background-color:#fff;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index: 0
}

header::after {
  background-image: url('../img/b-04.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: #fff;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

canvas{
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

header .header-content {
  width:100%;
  height:100%;
  position: relative;
  z-index: 2;
}

header .header-content .header-content-inner {
  position: relative;
  top: 50%;
  padding:55px 0px 0px 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,.9);
}

.hero-banner-logo{
  width:100px;
  cursor:pointer;
}

.hero-desc{
  font-size: 20px;
  line-height: 1.46428571;
  font-weight: 300;
}

/* Footer */
footer {
  width: 100%;
  color: #ffffff;
  font-size:12px;
  background-color:#404448;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}
.copyright {
  margin: 0;
  padding: 15px 0px;
  text-align: left;
}

.designed {
  margin: 0;
  padding: 15px 0px;
  text-align: right;
}
